.advantages {
  width: 320px;

  @include text(14px, 21px, center);
  color: $font-color-light;

  background-color: $main-color;
}

.advantages__header {
  position: relative;

  padding-left: 32px;
  padding-right: 33px;
}

.advantages__header::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;

  @include size (322px, 37px);

  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 320px 37px;
}

.advantages__slogan {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  @include text (18px, 26px, center);
  color: $font-color-black;
}

.advantages__intro {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  line-height: 26px;
  color: $font-color-black;
}

.advantages__list {
  @include list-reset();
}

.advantages__item:nth-child(1) {
  min-height: 471px;
  margin-bottom: 38px;
  padding: 60px 27px 42px 28px;
  box-sizing: border-box;

  background-color: $main-color-blue;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 320px 260px;
}

.advantages__item:nth-child(3) {
  min-height: 451px;
  padding: 41px 31px 39px 30px;
  box-sizing: border-box;

  background-color: $main-color-blue;
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 320px 260px;
}

.advantages__item:nth-child(n+4) {
  position: relative;

  @include padding(29px, 41px);
  color: $font-color-black;

  background-color: $main-color-grey;
}

.advantages__item:nth-child(5) {
  padding-left: 55px;
  border-left: 55px;
}

.advantages__item:nth-child(6) {
  padding-left: 37px;
  border-left: 37px;
}

.advantages__item:nth-child(5)::before,
.advantages__item:nth-child(6)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;

  width: 280px;
  height: 1px;

  background-color: rgba(#000000, 0.1%);
}

.advantages__description {
  margin: 0;
  padding: 0;

  @include text (14px, 21px, center);
}

.advantages__description b {
  @include text (18px, 26px, center);
}

.advantages__description span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.advantages__sublist {
  @include list-reset();
  @include text(14px, 21px, left);
  color: $font-color-black;

  background-color: $main-color;
}

.sublist li {
  position: relative;

  margin-bottom: 33px;
  padding-left: 69px;
  padding-right: 41px;
}

.sublist p {
  display: block;
  margin: 0;
  padding: 0;
}

.sublist h3 {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 26px;
}

.sublist__accommodation::before {
  content: "";
  background-image: url("../img/icon-house.svg");
  background-size: 37px 36px;
  background-repeat: no-repeat;
  width: 37px;
  height: 36px;
  position: absolute;
  left: 22px;
  top: -10px;
}

.sublist__souvenir::before {
  content: "";
  background-image: url("../img/icon-gift.svg");
  background-size: 32px 38px;
  background-repeat: no-repeat;
  width: 32px;
  height: 38px;
  position: absolute;
  left: 25px;
  top: -15px;
}

.sublist__food::before {
  content: "";
  background-image: url("../img/icon-burger.svg");
  background-size: 40px 35px;
  background-repeat: no-repeat;
  width: 40px;
  height: 35px;
  position: absolute;
  left: 18px;
  top: -10px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
  }

  .advantages__header {
    position: relative;

    margin-bottom: 49px;
    padding-left: 139px;
    padding-right: 139px;
  }

  .advantages__slogan {
    font-size: 21px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }

  .advantages__description b {
    font-size: 21px;
  }

  .advantages__item:nth-child(1) {
    min-height: 256px;
    margin-bottom: 0;
    padding-left: 47px;
    padding-right: 559px;
    padding-top: 44px;
    padding-bottom: 45px;

    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 512px 256px;
  }

  .advantages__item:nth-child(3) {
    min-height: 256px;
    padding-right: 51px;
    padding-left: 562px;
    padding-top: 48px;
    padding-bottom: 44px;

    background-image: url("../img/photo-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 512px 256px;
  }

  .advantages__item:nth-child(n+4) {
    width: 256px;
    margin: 0;

    @include padding(48px, 60px);
    padding-bottom: 45px;
    box-sizing: border-box;
  }

  .advantages__item:nth-child(5)::before,
  .advantages__item:nth-child(6)::before {
    content: none;
  }

  .advantages__sublist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    margin: 0;

    text-align: center;

    background-color: $main-color;
  }

  .sublist li {
    position: relative;

    width: 256px;
    padding-top: 162px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 63px;
  }

  .sublist__accommodation {
    order: 1;
  }

  .sublist__food {
    order: 2;
  }

  .sublist__souvenir {
    order: 3;
  }

  .sublist__accommodation::before {
    content: "";
    background-image: url("../img/icon-house.svg");
    background-size: 75px 72px;
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    position: absolute;
    left: 90px;
    top: 60px;
  }

  .sublist__souvenir::before {
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-size: 64px 75px;
    background-repeat: no-repeat;
    width: 64px;
    height: 75px;
    position: absolute;
    left: 90px;
    top: 57px;
  }

  .sublist__food::before {
    content: "";
    background-image: url("../img/icon-burger.svg");
    background-size: 77px 68px;
    background-repeat: no-repeat;
    width: 77px;
    height: 68px;
    position: absolute;
    left: 89px;
    top: 63px;
  }

  .sublist h3 {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1200px;
  }

  .advantages__header {
    padding-left: 355px;
    padding-right: 355px;
  }

  .advantages__list {
    justify-content: center;
    width: 1200px;
  }

  .advantages__item:nth-child(1) {
    padding-left: 68px;
    padding-right: 865px;
    padding-top: 51px;
    padding-bottom: 60px;

    background-image: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 400px 0;
    background-size: 800px 256px;
  }

  .advantages__item:nth-child(3) {
    padding-right: 93px;
    padding-left: 865px;
    padding-top: 56px;
    padding-bottom: 57px;

    background-image: url("../img/photo-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 800px 256px;
  }

  .advantages__item:nth-child(n+4) {
    width: 400px;

    @include padding(48px, 70px);
    padding-bottom: 67px;
  }

  .advantages__sublist {
    width: 1200px;
  }

  .sublist li {
    width: 400px;
    padding-top: 162px;
    padding-left: 73px;
    padding-right: 45px;
    padding-bottom: 82px;
  }

  .sublist__accommodation::before {
    content: "";
    background-image: url("../img/icon-house.svg");
    left: 173px;
  }

  .sublist__souvenir::before {
    content: "";
    background-image: url("../img/icon-gift.svg");
    left: 177px;
  }

  .sublist__food::before {
    content: "";
    background-image: url("../img/icon-burger.svg");
    left: 175px;
  }
}
