.advantages {
  width: 320px;

  @include text(14px, 21px, center);
  color: $font-color-light;

  background-color: $main-color;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1200px;
  }
}

.advantages__header {
  position: relative;

  padding-left: 32px;
  padding-right: 33px;

  &::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;

    @include size (322px, 37px);

    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 320px 37px;
  }
}

.advantages__slogan {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  @include text (18px, 26px, center);
  color: $font-color-black;
}

.advantages__intro {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  line-height: 26px;
  color: $font-color-black;
}

@media (min-width: $tablet-width) {
  .advantages__header {
    position: relative;

    margin-bottom: 49px;
    padding-left: 139px;
    padding-right: 139px;

    &::after {
      content: none;
    }
  }

  .advantages__slogan {
    font-size: 21px;
    margin-bottom: 30px;
  }

  .advantages__intro {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__header {
    padding-left: 355px;
    padding-right: 355px;
  }
}

.advantages__list {
  @include list-reset();
}

.advantages__item:nth-child(1) {
  min-height: 471px;
  width: 100%;
  margin-bottom: 38px;
  padding-top: 60px;
  padding-right: 27px;
  padding-left: 27px;
  box-sizing: border-box;

  background-color: $main-color-blue;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 320px 260px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
  }
}

.advantages__item:nth-child(3) {
  min-height: 451px;
  width: 100%;
  padding-top: 41px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;

  background-color: $main-color-blue;
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 320px 260px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-bridge-mobile@2x.jpg");
  }
}

.advantages__item:nth-child(n+4) {
  position: relative;

  @include padding(29px, 41px);
  width: 100%;
  box-sizing: border-box;

  color: $font-color-black;

  background-color: $main-color-grey;
}

.advantages__item:nth-child(5) {
  padding-left: 55px;
  padding-right: 55px;
}

.advantages__item:nth-child(6) {
  padding-left: 37px;
  padding-right: 37px;
}

.advantages__item:nth-child(5)::before,
.advantages__item:nth-child(6)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;

  width: 280px;
  height: 1px;

  background-color: rgba(#000000, 0.1%);
}

.advantages__description {
  margin: 0;
  padding: 0;

  @include text (14px, 21px, center);
}

.advantages__description b {
  @include text (18px, 26px, center);
}

.advantages__item:nth-child(3) br {
  display: none;
}

.advantages__description span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }

  .advantages__description b {
    font-size: 21px;
  }

  .advantages__item:nth-child(3) br {
    display: inline;
  }

  .advantages__item:nth-child(1) {
    min-height: 256px;
    margin-bottom: 0;
    padding-left: 25px;
    padding-right: 550px;
    padding-top: 44px;

    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 512px 256px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-city-tablet@2x.jpg");
    }
  }

  .advantages__item:nth-child(3) {
    min-height: 256px;
    padding-right: 40px;
    padding-left: 555px;
    padding-top: 45px;

    background-image: url("../img/photo-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 512px 256px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-bridge-tablet@2x.jpg");
    }
  }

  .advantages__item:nth-child(n+4) {
    width: 256px;
    margin: 0;

    @include padding(45px, 50px);
    box-sizing: border-box;
  }

  .advantages__item:nth-child(4) {
    padding-left: 45px;
    padding-right: 45px;
  }

  .advantages__item:nth-child(5) {
    padding-left: 54px;
    padding-right: 54px;
  }

  .advantages__item:nth-child(5)::before,
  .advantages__item:nth-child(6)::before {
    content: none;
  }

  .advantages__description span {
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    justify-content: center;
    width: 1200px;
  }

  .advantages__description b {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
  }

  .advantages__item:nth-child(n+4) b {
    padding-left: 55px;
    padding-right: 55px;
  }

  .advantages__item:nth-child(1) {
    padding-left: 68px;
    padding-right: 865px;
    padding-top: 51px;

    background-image: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 400px 0;
    background-size: 800px 256px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
    }
  }

  .advantages__item:nth-child(3) {
    padding-right: 93px;
    padding-left: 894px;
    padding-top: 53px;

    background-image: url("../img/photo-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 800px 256px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-bridge-desktop@2x.jpg");
    }
  }

  .advantages__item:nth-child(n+4) {
    width: 400px;

    @include padding(45px, 70px);
    padding-bottom: 65px;
  }

  .advantages__item:nth-child(4) {
    padding-left: 57px;
    padding-right: 57px;
  }
}
