.button {
  display: inline-block;

  @include size(280px, 58px);
  @include padding(16px, 45px);
  box-sizing: border-box;

  font-family: $font-family;

  @include text(21px, 26px, left);
  font-weight: bold;
  color: $font-color-light;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  background-color: $main-color-blue;

  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(#ffffff, 0.3%);

  background-color: #5496bd;
}

.button:disabled {
  background-color: $main-color-grey;
}

@media (min-width: $tablet-width) {
  .button {
    padding-left: 135px;
    padding-right: 135px;
    width: 458px;
  }
}
