.button {
  display: inline-block;

  @include size(280px, 58px);
  @include padding(18px, 47px);
  box-sizing: border-box;

  @include text(21px, 26px, center);
  font-weight: bold;
  color: $font-color-light;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: $main-color-blue;

  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(#ffffff, 0.3%);

  background-color: #5496bd;
}

.button:disabled {
  background-color: $main-color-grey;
}

@media (min-width: $tablet-width) {
  .button {
    width: 458px;

    @include padding (18px, 136px);
  }
}
