.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 130px;
}

.copyright__text {
  margin: 0;
  padding: 0;
  margin-right: 11px;

  font-size: 14px;
  line-height: 26px;
}

.copyright__link svg {
  fill: #000000;

  &:hover,
  &:focus {
    fill: $main-color-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-right: auto;
    margin-left: 120px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin-left: 276px;
  }
}
