.main-gallery {
  @include text (14px, 24px, center);
  font-weight: bold;
}

.main-gallery__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-gallery__header {
  margin-bottom: 33px;
}

.main-gallery__title {
  font-size: 18px;
}

.photo-list {
  display: flex;
  flex-direction: column;
  width: 280px;

  @include list-reset();

  text-align: left;
}

.photo-list__item {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 22px;
}

.photo-list__item::before {
  content: "";

  @include size (320px, 1px);

  background-color: rgba(#000000, 10%);

  position: absolute;
  top: 0;
  left: -20px;
}

.photo-list__item:nth-child(4)::after {
  content: "";

  @include size (320px, 1px);

  background-color: rgba(#000000, 10%);

  position: absolute;
  bottom: 0;
  left: -20px;
}

.photo-list__image {
  margin-bottom: 22px;
}

.photo-list__description {
  text-transform: none;
}

.photo-list__description b {
  text-transform: uppercase;
}

.photo-list__rating {
  font-weight: bold;
}

.photo-list__rating img {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .main-gallery__wrapper {
    width: 648px;
    margin-bottom: 68px;
  }

  .main-gallery__header {
    margin-bottom: 33px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .main-gallery__title {
    font-size: 30px;
    line-height: 26;
  }

  .photo-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
  }

  .photo-list__item {
    padding-top: 0;

    background-color: #f2f2f2;
  }

  .photo-list__item::before,
  .photo-list__item:nth-child(4)::after {
    content: none;
  }

  .photo-list__item:nth-child(1) {
    width: 648px;
  }

  .photo-list__item:nth-child(1) img.photo-list__image {
    width: 648px;
    height: 400px;
  }

  .photo-list__item:nth-child(3) {
    background-color: #eaeaea;
  }

  .photo-list__item:nth-child(n+2) {
    width: 324px;
  }

  .photo-list__item:nth-child(n+2) img.photo-list__image {
    width: 324px;
    height: 267px;
  }

  .photo-list__caption {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .main-gallery__wrapper {
    width: 1200px;
    margin-bottom: 72px;
  }

  .main-gallery__header {
    padding-left: 385px;
    padding-right: 385px;
  }

  .photo-list {
    width: 1200px;
  }

  .photo-list__item {
    position: relative;

    background-color: $main-color;
  }

  .photo-list__item:nth-child(1) {
    width: 1200px;
  }

  .photo-list__item:nth-child(1) img.photo-list__image {
    width: 1200px;
  }

  .photo-list__item:nth-child(3) {
    background-color: $main-color;
  }

  .photo-list__item:nth-child(n+2) {
    width: 400px;
  }

  .photo-list__item:nth-child(n+2) img.photo-list__image {
    width: 400px;
  }

  .photo-list__caption {
    position: absolute;
    top: 187px;
    left: 0;

    width: 400px;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;

    background-color: rgba(#ffffff, 30%);
  }

  .photo-list__item:nth-child(1) .photo-list__caption {
    top: 320px;

    width: 1200px;
  }
}
