.main-gallery {
  position: relative;

  width: 320px;

  @include text (14px, 24px, center);

  background-color: $main-color;
}

@media (min-width: $tablet-width) {
  .main-gallery {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-gallery {
    width: 1200px;
  }
}

.main-gallery__header {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 28px;
}

.main-gallery__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 26px;
}

.main-gallery__description {
  display: block;
  margin: 0;
  padding: 0;

  color: $font-color-grey;
}

@media (min-width: $tablet-width) {
  .main-gallery__header {
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 75px;
    padding-bottom: 70px;
  }

  .main-gallery__title {
    margin-bottom: 30px;

    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-gallery__header {
    padding-left: 385px;
    padding-right: 385px;
    padding-top: 110px;
    padding-bottom: 72px;
  }
}
