.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.social b {
  @include text (21px, 26px, center);
  color: $font-color-dark;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;

  @include list-reset();
  margin-top: 41px;
  margin-bottom: 41px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;

  @include padding (15px, 13px);
  box-sizing: border-box;

  background-color: $main-color-blue;
}

.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}

.social__link:visited {
  background-color: #5496bd;
}

.social__link path {
  fill: #ffffff;
}

.social__link:visited path {
  fill: rbga(#ffffff, 30%);
}

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 130px;
}

.copyright__text {
  margin-right: 11px;

  font-size: 14px;
  line-height: 26px;
}

.copyright__link path {
  fill: #000000;
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: $main-color-blue;
}

.copyright__link:active path {
  fill: rgba(#000000, 0.3%);
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    width: 648px;
  }

  .page-footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 440px;
  }

  .social__list {
    @include margin (36px, 0);
  }

  .copyright {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 960px;
  }

  .page-footer__social {
    width: 555px;
  }
}
