.presentation {
  width: 320px;
  padding-bottom: 105px;

  background-color: $main-color;
}

.presentation__question {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  margin-bottom: 25px;

  @include text (18px, 26px, center);
}

.presentation__description {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  padding-left: 42px;
  padding-right: 42px;

  font-size: 14px;
  line-height: 24px;
  color: $font-color-grey;
}

.presentation__video img {
  @include size (320px, 201px);
}

@media (min-width: $tablet-width) {
  .presentation {
    width: 768px;
    padding-bottom: 35px;
  }

  .presentation__question {
    padding-top: 65px;
    margin-bottom: 30px;

    font-size: 30px;
  }

  .presentation__description {
    padding-bottom: 73px;
    padding-left: 175px;
    padding-right: 175px;
  }

  .presentation__video img {
    @include size (648px, 499px);
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    width: 1200px;
    padding-bottom: 80px;
  }

  .presentation__question {
    padding-top: 72px;
  }

  .presentation__description {
    padding-bottom: 71px;
    padding-left: 392px;
    padding-right: 393px;
  }

  .presentation__video img {
    @include size (800px, 500px);
  }
}
