.presentation {
  background-color: $main-color;
}

.presentation__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 115px;
}

.presentation__question {
  @include text (18px, 26px, center);
}

.presentation__description {
  margin-bottom: 40px;
  padding-left: 42px;
  padding-right: 42px;

  font-size: 14px;
  line-height: 24px;
}

.video-player__back {
  width: 320px;
  height: 201px;
}

.player-interface {
  position: relative;
}

.player-interface__toogle {
  position: absolute;
  top: -50px;
  left: 20px;

  @include size (280px, 45px);

  background-color: rgba(#000000, 0.6%);
}

.player-interface__bar {
  position: absolute;
  top: 18px;
  left: 57px;

  @include size (10px, 10px);

  border: 1px solid $main-color;
  border-radius: 50%;
  background-color: $main-color;

  cursor: pointer;
}

.player-interface__scale {
  position: absolute;
  top: 22px;
  left: 22px;

  @include size (235px, 3px);

  background-color: rgba($main-color, 0.2%);
}

.player-interface__controls {
  position: absolute;
  top: -5px;
  left: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include size (280px, 66px);

  background-color: $main-color-grey;
}

.player-interface__controls--replay {
  margin-right: auto;
  margin-left: 25px;
}

.player-interface__controls--subtitles {
  margin-right: 31px;
}

.player-interface__controls--fulscreen {
  margin-right: 23px;
}

.player-interface__controls--replay path,
.player-interface__controls--subtitles path,
.player-interface__controls--fulscreen polygon {
  fill: #5c6870;
}

.player-interface__controls--replay:hover path,
.player-interface__controls--subtitles:hover path,
.player-interface__controls--fulscreen:hover polygon,
.player-interface__controls--replay:focus path,
.player-interface__controls--subtitles:focus path,
.player-interface__controls--fulscreen:focus polygon {
  fill: #333333;
}

.player-interface__controls--replay:active path,
.player-interface__controls--subtitles:active path,
.player-interface__controls--fulscreen:active polygon {
  fill: rgba(#333333, 0.3%);
}


@media (min-width: 768px) {
  .presentation__wrapper {
    width: 648px;

    margin-bottom: 76px;
  }

  .presentation__question {
    font-size: 30px;
  }

  .presentation__description {
    margin-bottom: 78px;
    padding-left: 115px;
    padding-right: 115px;
  }

  .video-player__back {
    @include size (648px, 499px);
  }

  .player-interface {
    position: relative;
  }

  .player-interface__toogle {
    top: -93px;
    left: 0;

    @include size (648px, 93px);
  }

  .player-interface__bar {
    top: 41px;
    left: 205px;
  }

  .player-interface__scale {
    top: 45px;
    left: 93px;

    width: 389px;
  }

  .player-interface__controls {
    top: -95px;
    left: 0;

    @include size (648px, 93px);

    background-color: transparent;
  }

  .player-interface__controls--replay path,
  .player-interface__controls--subtitles path,
  .player-interface__controls--fulscreen polygon {
    fill: #ffffff;
  }

  .player-interface__controls--replay:hover path,
  .player-interface__controls--subtitles:hover path,
  .player-interface__controls--fulscreen:hover polygon,
  .player-interface__controls--replay:focus path,
  .player-interface__controls--subtitles:focus path,
  .player-interface__controls--fulscreen:focus polygon {
    fill: rgba(#ffffff, 0.6%);
  }

  .player-interface__controls--replay:active path,
  .player-interface__controls--subtitles:active path,
  .player-interface__controls--fulscreen:active polygon {
    fill: rgba(#333333, 0.3%);
  }
}

@media (min-width: 1200px) {
  .presentation__wrapper {
    width: 800px;

    margin-bottom: 85px;
  }

  .presentation__description {
    padding-left: 190px;
    padding-right: 190px;
  }

  .video-player__back {
    @include size (800px, 500px);
  }

  .player-interface__toogle {
    width: 800px;
  }

  .player-interface__scale {
    width: 540px;
  }

  .player-interface__controls {
    top: -95px;
    left: 0;

    width: 800px;
  }
}
