.promo-sedona {
  min-height: 390px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 389px;

  background-color: #000000;
}
