.promo-sedona {
  position: relative;
  top: -27px;

  min-height: 389px;
  width: 100%;
  margin-bottom: 13px;

  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, 0 0;
  background-size: 320px 26px, 320px 389px;

  background-color: $main-color-blue;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.promo-sedona img {
  position: relative;
  top: 90px;

  margin: 0 auto;

  @include size(87.5%, auto);
}

@media (min-width: $tablet-width) {
  .promo-sedona {
    top: 0;

    min-height: 518px;
    margin-bottom: 49px;

    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom center, 0 0;
    background-size: 768px 57px, 768px 518px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo-sedona img {
    top: 77px;

    width: 60%;
  }
}

@media (min-width: $desktop-width) {
  .promo-sedona {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom center, 0 0;
    background-size: 1200px 57px, 1200px 518px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo-sedona img {
    width: 38.3%;
  }
}

.inner-page .promo-sedona {
  position: relative;
  top: -27px;

  width: 100%;
  min-height: 158px;
  margin: 0;
  padding: 0;

  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, 50% 100%;
  background-size: 320px 26px, 320px 158px;
  background-color: $main-color-blue;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.inner-page .promo-sedona img {
  position: relative;
  top: 52px;

  margin: 0 auto;

  @include size(72%, auto);
}

@media (min-width: $tablet-width) {
  .inner-page .promo-sedona {
    top: 0;

    min-height: 290px;

    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom center, 0 0;
    background-size: 768px 57px, 768px 290px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .inner-page .promo-sedona img {
    top: 94px;

    width: 60%;
  }
}

@media (min-width: $desktop-width) {
  .inner-page .promo-sedona {
    min-height: 301px;

    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom center, 0 0;
    background-size: 1200px 57px, 1200px 301px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .inner-page .promo-sedona img {
    top: 102px;

    width: 38.3%;
  }
}
