.site-list {
  @include size(100%, 220px);
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  @include size(100%, 25%);

  /*box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2); */
}

.site-list__item a {
  display: block;

  @include padding(21px 92px);

  color: $font-color-light;
}
