$main-color: #ffffff;
$main-color-back: #f2f2f2;
$main-color-grey: #ebebeb;
$main-color-blue: #81b3d2;


$font-color-black: #000000;
$font-color-grey: #333333;
$font-color-light: #ffffff;
$active-link: #766357;
$active-link-dark: #604e43;
$active-link-light: rgba(#766357, 0.3%);

$font-family: "PT Sans", arial, sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
