$main-color: #ffffff;
$main-color-grey: #ebebeb;
$main-color-blue: #81b3d2;


$font-color-dark: #000000;
$font-color-grey: #333333;
$font-color-light: #ffffff;
$font-family: "PT Sans", arial, sans-serif;
